.login {
    margin: 0px 0px 0px 10px;
    display: flex;
    height: 100%;
    text-align: justify;
    flex-wrap: wrap;
    overflow: hidden;
}

.login-carousel {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.login-form {
    display: flex;
    flex: 0.4;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    padding: 0px 50px;
}

@media (max-width: 959px) {
    .login {
        margin: 0px;
        flex-flow: column;
    }
    .login-form {
        flex: 1;
        padding: 0px 100px;
    }
    .login-carousel {
        display: none;
    }
  }

@media (max-width: 450px) {
    .login-form {
        flex: 1;
        padding: 0px 20px;
    }
}