


.general-container {    
 display: flex;
 height: 100vh;
 width: 100vw;
 overflow: hidden;
 
}


.Login-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;  
    height: 100vh;  
   
}

.Carrusel-Container {
    padding-top: 120px;
    padding-bottom: 80px;
    height: 100vh;
    width: 70vw;  
    background-color: gray;
}
